<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.top100crypto">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".di.App"
        android:allowBackup="true"
        android:icon="@drawable/bitcoin"
        android:label="Криптовалюты"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Top100Crypto">
        <activity android:name=".activities.AboutActivity"
            android:parentActivityName=".activities.MainActivity">
        </activity>
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ChartActivity"
            android:parentActivityName=".activities.MainActivity">
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5228037057098453~8373486259"/>
    </application>

</manifest>